<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Latitude: {{hourlyData.latitude}}, Longitude: {{hourlyData.longitude}}</h1>
    </div>
  </div>
  <div class="row" ng-repeat="card in hourlyData.hourly.data">
    <div class="col-md-8 col-md-offset-2 well">
      <div class="row">
        <div class="col-md-4">{{card.icon}}</div>
        <div class="col-md-4">{{card.temperature}}</div>
        <div class="col-md-4">{{card.time}}</div>
      </div>
      <div class="row">
        {{ card.precipProbability }}
      </div>

      <div class="row">
        <div class="col-md-6">{{ card.humidity }}</div>
        <div class="col-md-6">{{ card.summary }}</div>
      </div>
      <div class="row">
        {{ card.windSpeed }}
      </div>
    </div>
  </div>
</div>


<h1>HOURLY!</h1>

<pre>
  {{ hourlyData | json }}
</pre>
<!-- <pre ng-if='!hourlyData'> -->
